@import '../../SASS/variable';
@import '../../SASS/mixin';
.card__barbershop {
  width: 240px;
  height: 300px;
  @include card();
  
  img {
    @include img--cover();
    height: 300px;
  }
  :hover {
    transition: ease-in-out 0.5s all;
    cursor: pointer;
  }
  .card__overlay {
    @include description();
  }
}

.card__coupon {
  width: 320px;
  img {
    @include img--cover();
    height: 200px;
  }
}

.card__recommend {
  width: 240px;
  height: 180px;
  @include card();
  img {
    @include img--cover();
    height: 180px;
  }
  .card__description {
    @include description();
  }
}
