@import "../../SASS/variable";



footer {
    // position:absolute;
    // left:0;
    // bottom:0;
    // right:0;

    h5 {
        color: $color-white;
        text-align: center;
    }
   ul{
       text-align: center;
       list-style: none;
      a:hover{
          text-decoration: none;
      }
   }
   .footer-item{
      text-align: center;
      margin: 30px 0px;
      p{
          color: $color-white;
          font-weight: bold;
      }
   }
    background-color: black;
    .footer-thumbnail {
        display: flex;
        justify-content: center;
       
        img{
          height: 60px;
            padding: 10px;
            
        }
        
    }
}