@mixin card {
    position: relative;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
@mixin description {
    position: absolute;
    bottom: 20px;
    left: 10px;
    h5 {
      color: $color-white;
    }
    p {
      color: $color-white;
    }
}
@mixin img--cover {
    object-fit: cover;
    width: 100%;
}
@mixin margin--auto{
  margin-top: 20px;
}