$color-black :black;
$color-white:white;
$color-primary: #ED6300;
$color-secondary: #383443;

$fw-bold : bold;
$fw-normal : normal;
$fs-header : 18px;
$fs-p: 18px;

$margin-top: 50px;
$margin-text: 20px 0px;

$box-size : 200px;
