@import '../../SASS/_variable.scss';

header {
  background-color: $color-black;
}
.nav {
  display: flex;
  justify-content: space-between;

  .top-nav {
    .top-nav__ul {
      li {
        display: inline-block;
        list-style: none;
        padding: 20px 30px;
        font-size: $fs-header;
        
        a {
          color: $color-white;
          transition: all 0.3s ease-in;
          &:hover{
            text-decoration: none;
          cursor: pointer;
          }
        
        }
        .li__item--hover:hover {
          
          color: $color-primary;
         
      }
      .active-menu{
        color: $color-primary;
      }


        // .btn--primary {
        //   background-color: $color-primary;
        //   border-radius: 20px;
        //   width: 140px;
        //   transition: all 0.3s ease 0s;
        //   word-spacing: 6px;
        // &:hover {
        //     opacity: 90%;
        //      a {
        //        color:white;
        //      }
        //   }

        // }
      }
    }
  }
  .logo {
    cursor: pointer;
  }
}
