@import '../../SASS/_variable.scss';

header {
  // background-color: $color-black;
  background-color: $color-black;
  position: sticky;
  
}



.logo-brand {
  display: none;
}
.navbar-flex {
  display: flex;
}

@media only screen and (max-width: 991px) {
  .navbar-brand {
    display: inline-block;
  }
  .logo {
    display: none;
  }
  .navbar-brand {
    display: inline-block;
  }
  .logo-brand{
    display: block;
    img{
      width: 80%;
      height: 80%;
      object-fit: cover;
    }
 
  }
  .nav-item{
    margin: 15px auto;
    // margin-top:15px ;
   
  }
  .active-menu{
    color: $color-primary;
  }
}


li {
  padding: 0 20px;
  a {
    color: $color-white;
    font-size: 1rem;
  }
  &:hover {
    text-decoration: none;
  }
  .li__item--hover:hover {
    color: $color-primary;
    text-decoration: none;
  }
  p{
    color: $color-white;
    font-size: 1rem;
  }
}
