@import '../../SASS/_variable.scss';

header {
  // background-color: $color-black;
  background-color: $color-black;
}
.logo-brand {
  display: none;
}
.navbar-flex{
  display: flex;
}

@media only screen and (max-width: 991px){
  .navbar-brand {
      display: inline-block;
  }
  .logo{
      display: none;
  }
}
@media only screen and (max-width: 991px){
  .navbar-brand {
      display: inline-block;
  }
  .logo{
      display: none;
  }
}

li {
padding: 0 20px;
}